body {
    background: #de4545;
}

.photo {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    max-height: 200px;
}

#title, .subtitle, .post_title {
    color: #505050;
}

#title {
    font-size: 43px;
    text-transform: uppercase;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subtitle {
    font-size: 36px;
    font-style: normal;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
}

.post_title {
    font-size: 24px;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: white;
    padding: 15px;
    border: 3px solid #595959;
    border-radius: 5px;
    margin-bottom: 15px;
}

.post_content {
    margin: 0;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.post_image {
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 2400px;
    max-height: 1200px;
}